.userbar{
	width: 500px;
	height: 80px;
	float: right;
	text-align: right;
	/*padding-top: 5px;*/
}
	
.userbar .user-id,.user-noti{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	/*color: red;*/

	margin-right: 20px;
	position: relative;
	top: 10%;

	display: inline-block;
}

.sidebar{
	margin-right: 15px;
}
.sidebar[data-background-color="brown"]::after, .sidebar[data-background-color="brown"]::before{
	background-color: #83CFFF;
}

.horizon-navbar{
	background-color: white;
}