<!-- Markup -->
<div class="row" style="padding: 10px;">
  
  <div class="col-sm-3">
    <div class="overview card">
      <div class="card-header text-left">
        <h3 class="card-title">Jedi light saber</h3>
        <p class="description">Monthly best seller</p>
      </div>
      <div class="card-content"></div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="overview card">
      <div class="card-header text-left">
        <h3 class="card-title">Anakin model</h3>
        <p class="description">Monthly worst seller</p>
      </div>
      <div class="card-content"></div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="overview card">
      <div class="card-header text-left">
        <h3 class="card-title">Bach Khoa University</h3>
        <p class="description">Monthly best market</p>
      </div>
      <div class="card-content"></div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="overview card">
      <div class="card-header text-left">
        <h3 class="card-title">$1.000.000</h3>
        <p class="description">Revenue sum</p>
      </div>
      <div class="card-content"></div>
    </div>
  </div>
  
  <div class="col-sm-12 some-text" style="padding: 20px;"></div>
  
  <div class="col-sm-8">
    <div class="card linear-chart ">
        <div class="card-header text-center">
          <h3 class="card-title">Sales Analytics</h3>
          <p class="description">Monthly revenue </p>
        </div>
        <div class="card-content chartshow">
          <div id="chartdiv-linear"></div>
        </div>
    </div>
  </div>

  
  <div class="col-sm-4">
    <div class="card pie-chart">
      <div class="card-header text-center">
        <h3 class="card-title">Market Percentage Analytics</h3>
        <p class="description"> Overall-percentages</p>
      </div>
      <div class="card-content">
        <div id="chartdiv-pie"></div>
        <!-- <p class="description text-center">Best-seller: </p> -->
        
      </div>
    </div>
  </div>


</div>

