<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='stylesheets/app-1f6ebaaa8e.css' />
    <link rel='stylesheet' href='stylesheets/products/products.css' />
    <link rel='stylesheet' href='stylesheets/header-style.css' />
    <link rel='stylesheet' href='stylesheets/themify-icons.css' />

    <link rel='stylesheet' href='stylesheets/animate.min.css' />
    <link href="https://fonts.googleapis.com/css?family=Aleo|Roboto|Source+Sans+Pro" rel="stylesheet"> 

    <script src="javascripts/jquery-3.2.1.min.js"></script>


<!--     <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> -->
    <!-- <script src="javascripts/plugin-00026b97be.js"></script> -->
</head>

<body class="perfect-scrollbar-off off-canvas-sidebar">
    <div class="wrapper">
        <% include ../../components/sidebar %>
        <div class="main-panel">
            <% include ../../components/header %>

            <% var bodyContent = '../../components/product/list-products/body' %>
            <% include ../../components/body %>
        </div>
    </div>
    
    <script src="https://cdn.anychart.com/js/8.0.1/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js"></script>
    <script src="javascripts/header.js"></script>
    <script src="javascripts/core.js"></script>
    <script src="javascripts/charts.js"></script>
    <script src="javascripts/maps.js"></script>
    <script src="javascripts/themes/animated.js"></script>
    <script src="javascripts/products/products.js"></script>
</body>

</html>