<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/app-1f6ebaaa8e.css' />
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet"
        type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet"
        type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.9/sweetalert2.min.js"></script>
</head>

<body class="perfect-scrollbar-off off-canvas-sidebar">
    <div class="wrapper">
        <% include ../../components/sidebar %>
        <div class="main-panel">
            <% include ../../components/header %>

            <% var bodyContent = '../../components/product/list-products/body' %>
            <% include ../../components/body %>
        </div>
    </div>
</body>

</html>