<div class="container-fluid">
  <div class="card prolist">
    <div class="row">
      <div class="col-md-6">
        <h1 class="card-title">Products lists</h1>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-12">
        <div class="input-group">
          <div class="input-group-btn">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-6">
                <input class="form-control" name="lp-input-search" placeholder="Search title of product">
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary" name="lp-button-search">Search</button>
                <button class="btn btn-fill btn-primary" name="lp-button-add">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-holder" style="overflow: auto;">
      <table id="list-products" class="table table-condensed ">
        <thead>
          <tr>
            <th width="7%" scope="col">ID</th>
            <th width="40%" scope="col">Title</th>
            <th width="10%" scope="col">Price</th>
            <th width="18%" scope="col">Instock</th>
            <th width="20%" scope="col">Category</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Peter</td>
            <td>Griffin</td>
            <td>sdfa</td>
            <td>Grizvxcffin</td>
            <td>blablabla</td>
          </tr>
          <tr>
            <td>Peter</td>
            <td>Griffin</td>
            <td>sdfa</td>
            <td>Grizvxcffin</td>
            <td>blablabla</td>
          </tr>
          <tr>
            <td>Peter</td>
            <td>Griffin</td>
            <td>sdfa</td>
            <td>Grizvxcffin</td>
            <td>blablabla</td>
          </tr>
          <tr>
            <td>Peter</td>
            <td>Griffin</td>
            <td>sdfa</td>
            <td>Grizvxcffin</td>
            <td>blablabla</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center" style="margin-bottom: 20px;">
      <div id="lp-div-change-page" current-offset="<%=current_offset%>" has-more="<%=has_more%>" class="btn-group btn-group-lg"
        role="group" aria-label="Basic example">
        <%if(current_offset == 0) { %>
        <button id="lp-button-previous-offset" type="button" class="btn btn-default disabled">◀</button>
        <% } else { %>
        <button id="lp-button-previous-offset" type="button" class="btn btn-default">◀</button>
        <% } %>
        <% if (has_more) { %>
        <button id="lp-button-next-offset" type="button" class="btn btn-default">▶</button>
        <% } else { %>
        <button id="lp-button-next-offset" type="button" class="btn btn-default disabled">▶</button>
        <% } %>
      </div>
    </div>
  </div>
</div>

