<nav class="navbar navbar-default horizon-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <ol class="breadcrumb navbar-brand" style="background-color: transparent !important;">
      </ol>
    </div>
   
    <div class="text-right userbar">
      <div class="user-noti" id="noti">
        <i class="ti-bell" ></i>
      </div>
      <div class="user-id"> Hello <i>"USER-NAME"</i> </div>
      <!--can u change this line into username : -->
      <button type="button" class="btn btn-primary btn-fill mt-2 mr-3" id="log-out">Log out</button>
    </div>
  </div>
</nav>
  