<div class="sidebar" data-background-color="brown" data-active-color="infor">
    <!-- Logo -->

    <div class="logo">
        <a href="/" class="simple-text logo-normal text-center">
            <b>Admin</b>
        </a>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            <!-- Products -->
            <li class="<%= title == 'Main | Admin' ? 'active' : '' %>">
                <a href="/main" class="nav-link">
                    <i class="ti-home"></i>
                    <p>Home</p>
                </a>
            </li>
            <li class="<%= title == 'Products | Admin' ? 'active' : '' %>">
                <a href="/products" class="nav-link">
                    <i class="ti-package"></i>
                    <p>Products</p>
                </a>
            </li>
            <!-- Orders -->
            <li class="<%= (title == 'Orders | Admin' || title == 'Orders | Chart') ? 'active' : '' %>">
                <a href="/orders" class="nav-link">
                    <i class="ti-settings"></i>
                    <p>Orders</p>
                </a>
            </li>
        </ul>
    </div>
</div>